:root {
    --vp-home-hero-name-color: #005bab;
    --vp-custom-block-tip-bg: #86bd86;
    --vp-custom-block-tip-text: #212a24;
    --vp-c-tip-1: #2c4133;
    --vp-custom-block-tip-code-bg: #7b9a7b;
}